:root {
    --color-dark: #21295C;
    --color-main: #5E81F4;
    --color-accent: #D0D8FC;
    --color-bg: #F7F7FF;
    --color-card: #FFFFFF;
    --color-success: #3CB371;
    --color-danger: #E26A6A;

    --background: var(--color-bg);
    --foreground: var(--color-dark);

    --radius: 16px;
    --spacing: 8px;
    --font-base: 'Roboto', Arial, sans-serif;
}

body {
    color: var(--color-dark);
    background: var(--color-bg);
    font-family: var(--font-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.mt-2 {
    margin-top: 16px;
}

.mt-4 {
    margin-top: 32px;
}