:root {
    --color-black: #181818;
    --color-white: #fff;
    --color-gray: #f3f3f3;
    --color-border: #222;
    --color-accent: #FF3CAC;
    /* Use only for buttons or links */
    --color-success: #2DFECB;
    /* For success/status */
    --color-danger: #FF5E62;
    /* For danger/status */

    --radius: 14px;
    --spacing: 8px;
    --font-base: 'Roboto', Arial, sans-serif;
}

body {
    color: var(--color-black);
    background: var(--color-white);
    font-family: var(--font-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-4 {
    margin-bottom: 32px;
}

.mb-6 {
    margin-bottom: 48px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-4 {
    margin-top: 32px;
}

.mt-6 {
    margin-top: 48px;
}