:root {
    --color-dark: #21295C;
    /* Deep Indigo */
    --color-main: #1B6CA8;
    /* Electric Blue */
    --color-accent: #6EC6A6;
    /* Soft Green */
    --color-bg: #F7F7FF;
    /* Ultra Light */
    --color-surface: #FFFFFF;
    /* Card/Element */
    --color-neutral: #637074;
    /* Slate */
    --color-error: #FF6B6B;
    --background: var(--color-bg);
    --foreground: var(--color-dark);

    --radius: 14px;
    --spacing: 10px;
    --font-base: 'Inter', 'Roboto', Arial, sans-serif;
}

body {
    color: var(--color-dark);
    background: var(--color-bg);
    font-family: var(--font-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.mt-2 {
    margin-top: 16px;
}

.mt-4 {
    margin-top: 32px;
}