.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing);
    width: 100%;
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: calc(var(--spacing) / 2);
    }
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-6 {
    grid-column: span 6;
}

.col-8 {
    grid-column: span 8;
}

.col-12 {
    grid-column: span 12;
}